.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 30vmin;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
